.toggle-group {
  display: flex;
  justify-content: center;
  gap: 50px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 10px 20px;
  border-radius: 12px;
}


.toggle-btn {
  padding: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.toggle-btn svg {
  width: 30px;
  height: 48px;
}

.toggle-btn:hover {
  background: rgba(229, 231, 235, 0.7);
  transform: scale(1.1);
}

.toggle-btn.active {
  background: #1424b6d3;
  color: white;
}

@media (min-width: 1024px) {
  .toggle-group {
    justify-content: center;
    gap: 200px;
    margin: 20px 0;
  }

  .toggle-btn {
    padding: 16px;
    font-size: 28px;
  }

  .toggle-btn svg {
    width: 35px;
    height: 50px;
  }
}
